@font-face {
    font-family: 'game_of_thronesregular';
    src: url('../font/game_of_thrones-webfont.woff2') format('woff2'),
    url('../font/game_of_thrones-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.navbar {
    background-color: #83092e !important;
    color: #ecdbc9;
    border-color: #83092e;
    margin-bottom: 0px;
}

.navbar-right {
    float: right;
}

.navbar-brand:hover {
    background-color: #ecdbc9;
    color: #83092e;
    border-color: #ecdbc9;
}

nav > a:first-child {
    margin-left: 1.5em;
}

.navbar-brand:last-child {
    margin-right: 1.5em;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 30px;
}

.btn-secondary {
    color: #fff;
    background-color: #1caa0d;
    border-color: #1caa0d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #157f0a;
    border-color: #157f0a;
}

.got {
    font-family: 'game_of_thronesregular', Arial, sans-serif;
}

.visioncontainer {
    margin: 1em 0 1em 0;
    display: inline-block;
}

.visioncontainer:first-child {
    margin-top: 2em;
}

.visiontext {
    width: 65%;
    height: 100%;
    text-align: justify;
}

.visionimg {
    width: 30%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

a {
    color: #ecdbc9;
}

h1, h2 {
    font-family: 'game_of_thronesregular', Arial, sans-serif;
    color: #83092e;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 35px;
}

h3 {
    color: #ab3f60;
}

.mainbody {
    margin: 2em 10% 1em 10%;
}

::selection {
    color: #fff;
    background: #157f0a /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: #fff;
    background: #157f0a /* Gecko Browsers */
}

.ant {
    left: 20px;
    position: fixed;
    top: 20%;
}

.btn-register {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #ecdbc9;
    background-color: #83092e;
    border-color: #83092e;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

.btn-register:hover, .btn-register:active, .btn-register:focus, .btn-register:visited {
    color: #83092e;
    background-color: #ecdbc9;
    border-color: #ecdbc9 !important;
    border-style: solid;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-ver-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

